{% extends 'base.html'%} 
{% block content %}
    <h1>calculate your dinner price!</h1>
    <form action="tip-calc" method="Post">
      <p>Enter in the prices! </p>
	  Tip
      <input type="text" name="tip-perc" value="{{tip_perc}}" />
	  Meal
      <input type="text" name="meal-price" value="{{meal_price}}"/>
	  Tax
      <input type="text" name="tax-rate" value="{{tax_rate}}"/>
      <input type="submit" value="compute"/>
    </form>
	<p>Tip-perc: {{ tip_perc }}</p>
	<p>meal-price: {{meal_price}}</p>
	<p>tax-rate: {{tax_rate}}</p>
	<p>meal-plus-tax: {{ meal_plus_tax}}</p>
	<p>meal-plus-tip: {{ meal_plus_tip}}</p>
    
	<a href="{{ url_for('index') }}">Back to main page</a>
{% endblock%}